@charset "utf-8";
/* CSS Document */
body,div,span,p,a,ul,ol,li,dl,dt,dd,h1,h2,h3,h4,img,input,strong{padding: 0;margin: 0;border: 0; list-style:none; }
#bg2{width: 100%; height: 100%; margin: auto; }
.bg22{width: 1200px; height: 1200px; margin: 0 auto; }